{% schema %}
{
  "name": "Google reviews carousel",
  "settings": [
    {
      "type": "textarea",
      "id": "addcontent",
      "label": "Add Custom Code"
    } 
  ],
  "presets": [
    {
      "name": "Google reviews carousel",
      "category": "textarea"
    }
  ]
}
{% endschema %}

<script 
            type="text/javascript" 
            src="https://cdn.grw.reputon.com/assets/widget.js?shop=5203b3-0b.myshopify.com"  defer></script>
<div class="reputon-google-reviews-widget"
                 data-content-index="1"
                 data-theme="light"
                 data-type="carousel"
                 data-autoscroll="true"
                 data-show-review-photos="false"
                 data-write-review="true"
                 data-show-rating="false"
                 data-fixed-reviews-height="false"></div>