{% schema %}
{
  "name": "Google reviews count",
  "settings": [
    {
      "type": "textarea",
      "id": "addcontent",
      "label": "Add Custom Code"
    } 
  ],
  "presets": [
    {
      "name": "Google reviews count",
      "category": "textarea"
    }
  ]
}
{% endschema %}


<script type="text/javascript" src="https://cdn.grw.reputon.com/assets/widget.js?shop=5203b3-0b.myshopify.com"  defer></script>
<div class="reputon-google-reviews-widget totalheaderreviews"
                 data-content-index="all"
                 data-theme="light"
                 data-type="basic"
                 data-minimize="false"
                 data-sticky="true"
                 data-position-vertical="bottom"
                 data-position-horizontal="left"></div>


    <style>
      .totalheaderreviews .bqSKcc {
    top: 200px;
}
.totalheaderreviews .reputon-name {
    font-size: 12px;
}
.totalheaderreviews .SXbcC:hover {
    background: #ffffff;
}
.totalheaderreviews .hvMELQ {
    font-size: 12px;
}
.totalheaderreviews .reputon-rating-stars svg:not(.fpjVWN) {
    width: 14px;
    height: 14px;
}
.totalheaderreviews .bxFjgq {
    width: 200px;
    min-width: 200px;
}
     .totalheaderreviews .hpiPjR {
    min-width: 30px;
    width: 30px;
    height: unset;
}
      .totalheaderreviews .reputon-info {
        padding: 5px 10px;
}
      @media (max-width: 1199px) {
        .totalheaderreviews .bqSKcc {
            top: 60px;
        }
      }
      @media (max-width: 640px) {
          .totalheaderreviews .bqSKcc {
              right: 0px !important;
          }
      }

      @media (max-width: 767px) {
        .totalheaderreviews .reputon-badge {
             margin-bottom: 71px;
        }
      }
    </style>