<style>
    #simple-bundles-io-options .select2-container {
        display: block;
        width: 100% !important;
        margin-bottom: 20px;
    }

    #simple-bundles-io-options #buy-now-button {
        padding: 0 5px;
        height: 50px;
        line-height: 50px;
        width: 100%;
        background: #2abab0;
        position: relative;
        border-radius: 100px;
    }

    #simple-bundles-io-options #buy-now-button:hover {
        color: #fff;
        background: #000;
    }

    p.form-error {
        color: red;
        display: none;
        margin-bottom: 15px;
    }

    .unbox-img {
        margin-bottom: 20px;
        text-align: center;
    }

    .unbox-img p {
        font-weight: 600;
        color: #ff904e;
        font-size: 17px;
    }

    .opengift {
        margin-bottom: 20px;
        text-align: center;
    }
</style>
<div style="padding:50px 0;" id="simple-bundles-io-options">
    <div class="container">
        <div class="product-single row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="pimage">
                    <img src="https://cdn.shopify.com/s/files/1/0648/4167/9013/files/Selective_Ramadan_2025_Post.png?v=1741671866" alt="Selective">
                </div>
            </div>
            <div class="pt-20 block_information col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h1 class="fa-2x">Buy 4 Selective Perfumes And Get A Body Mist Free</h1>
                <div class="himproduct">
                    <label for="buyone">Choose Your First Preferred Fragrance:</label>
                    <select id="buyone" class="buyone selectproduct appendproduct" required=""></select>
                </div>
                <div class="herproduct">
                    <label for="buytwo">Choose Your Second Preferred Fragrance:</label>
                    <select id="buytwo" class="buytwo selectproduct appendproduct" required=""></select>
                </div>
                <div class="herproduct">
                    <label for="buythree">Choose Your Third Preferred Fragrance:</label>
                    <select id="buythree" class="buythree selectproduct appendproduct" required=""></select>
                </div>
                <div class="herproduct">
                    <label for="buyfour">Choose Your Fourth Preferred Fragrance:</label>
                    <select id="buyfour" class="buyfour selectproduct appendproduct" required=""></select>
                </div>
                <div class="freeroduct" style="display:none;">
                    <label for="buyfive">Pick Any Free Fragrance:</label>
                    <select id="buyfive" class="buyfive buyfree selectproduct" required=""></select>
                </div>
                <div class="unbox-img">
                    <p>Select First, Second, Third And Fourth Preferred Fragnance To Unbox Your Free Gift</p>
                    <img id="selectedimg" width="150" height="150" src="https://cdn.shopify.com/s/files/1/0648/4167/9013/files/closebox.png?v=1736401855" style="height: 100px;object-fit:cover;">
                </div>
                <div class="opengift" style="display:none;">
                    <img width="150" height="150" src="https://cdn.shopify.com/s/files/1/0648/4167/9013/files/unboxgif.gif?v=1736315204" alt="" style="height: 100px;object-fit:cover;">
                </div>
                <div class="product-form__item product-form__item--submit">
                    <p class="form-error">Please select a product.</p>
                    <button type="submit" id="buy-now-button" class="hover_x btn ">
                        <span id="AddToCartText">Buy Now</span>
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
    $(".selectproduct").select2();
    $('.selectproduct').select2().on('select2:open', function(e) {
        $('.select2-search__field').attr('placeholder', 'Search Here');
    })
</script>
<script>
    const productsPerPage = 500;

    function fetchProducts(page, filterTag, selectClass, collectionHandle) {
        const fetchCollectionProducts = (collection, page) =>
            $.ajax({
                url: `/collections/${collection}/products.json`,
                data: {
                    limit: productsPerPage,
                    page: page
                },
                dataType: 'json'
            });

        fetchCollectionProducts(collectionHandle, page)
            .done(function(productresponse) {
                const allProducts = productresponse.products;
                let filteredProducts = allProducts;
                if (filterTag) {
                    filteredProducts = filteredProducts.filter(product => product.tags.includes(filterTag));
                }
                const sortedProducts = filteredProducts.sort((a, b) => a.title.localeCompare(b.title));
                /*console.log("sortedProducts", sortedProducts);*/
                const productsContainer = $('.' + selectClass);
                productsContainer.empty();
                let productElement = '<option value="">-- Select a Product --</option>';
                sortedProducts.forEach(product => {
                    const hasAvailableVariant = product.variants.some(variant => variant.available);
                    if (hasAvailableVariant) {
                        productElement += `<option value="${product.variants[0].id}">${product.title}</option>`;
                    }
                });
                productsContainer.append(productElement);
                const paginationContainer = $('#pagination');
                paginationContainer.empty();
                const totalPages = Math.ceil(productresponse.products_count / productsPerPage);
                if (totalPages > 1) {
                    if (page > 1) {
                        paginationContainer.append(`<a href="#" onclick="fetchProducts(${page - 1}, '${filterTag}', '${selectClass}', '${collectionHandle}'); return false;">Previous</a>`);
                    }
                    for (let i = 1; i <= totalPages; i++) {
                        if (i === page) {
                            paginationContainer.append(`<span>${i}</span>`);
                        } else {
                            paginationContainer.append(`<a href="#" onclick="fetchProducts(${i}, '${filterTag}', '${selectClass}', '${collectionHandle}'); return false;">${i}</a>`);
                        }
                    }
                    if (page < totalPages) {
                        paginationContainer.append(`<a href="#" onclick="fetchProducts(${page + 1}, '${filterTag}', '${selectClass}', '${collectionHandle}'); return false;">Next</a>`);
                    }
                }
            })
            .fail(function() {
                console.error("Failed to fetch products from the collection.");
            });
    }

    var gender = "";
    const queryStringgender = new URL(window.location.href).searchParams.get('g');
    if (queryStringgender) {
        if (queryStringgender == 'male' || queryStringgender == 'Male') {
            gender = 'Male';
        } else if (queryStringgender == 'female' || queryStringgender == 'Female') {
            gender = 'Female';
        }
    }
    var collectionHandle = 'Selective';
    var freecollection = 'body-mist';
    if (gender == 'Male') {
        fetchProducts(1, 'Male', 'appendproduct', collectionHandle);
    } else if (gender == 'Female') {
        fetchProducts(1, 'Female', 'appendproduct', collectionHandle);
    } else {
        fetchProducts(1, '', 'appendproduct', collectionHandle);
    }
    fetchProducts(1, '', 'buyfree', freecollection);
</script>

<script>
    document.getElementById('buy-now-button').addEventListener('click', function() {
        const buyone = document.getElementById('buyone').value;
        const buytwo = document.getElementById('buytwo').value;
        const buythree = document.getElementById('buythree').value;
        const buyfour = document.getElementById('buyfour').value;
        const buyfive = document.getElementById('buyfive').value;
        $('.form-error').hide();
        if (!buyone || !buytwo || !buythree || !buyfour || !buyfive) {
            $('.form-error').show();
            return false;
        }
        const cartItems = [{
                id: parseInt(buyone),
                quantity: 1
            },
            {
                id: parseInt(buytwo),
                quantity: 1
            },
            {
                id: parseInt(buythree),
                quantity: 1
            },
            {
                id: parseInt(buyfour),
                quantity: 1
            },
            {
                id: parseInt(buyfive),
                quantity: 1
            },
        ];
        fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    items: cartItems
                }),
            })
            .then(response => {
                if (response.ok) {} else {
                    return response.json().then(errorData => {
                        console.error('Error details:', errorData);
                        alert('Failed to add items to cart. Please check your selections.');
                    });
                }
            })
            .catch(error => console.error('Error:', error));
    });
    $('#buyone, #buytwo, #buythree, #buyfour').change(function() {
        var buyoneproduct = $('#buyone').val();
        var buytwoproduct = $('#buytwo').val();
        var buythreeproduct = $('#buythree').val();
        var buyfourproduct = $('#buyfour').val();
        console.log('test', [buyoneproduct, buytwoproduct, buythreeproduct, buyfourproduct]);
        if (buyoneproduct !== "" && buytwoproduct !== "" && buythreeproduct !== "" && buyfourproduct !== "") {
            console.log('sdfsf');
            $('.unbox-img').hide();
            $('.opengift').show();

            setTimeout(function() {
                $('.opengift').hide();
                $('.freeroduct').show();
            }, 2000);
        } else {
            $('.unbox-img').show();
            $('.freeroduct').hide();
        }
        $('.form-error').hide();
    });
    $('#buyfree').change(function() {
        var buyfreeproduct = $(this).val();
        if (buyfreeproduct != "") {
            $('.opengift').fadeOut(1000);
        }
    });
</script>