<script type="text/javascript" src="https://cdn.grw.reputon.com/assets/widget.js?shop=5203b3-0b.myshopify.com"  defer></script>
<div class="container">
  <div class="google-store-locator">
  <div class="reputon-google-reviews-widget"  data-content-index="1" data-theme="light"  data-type="standard" data-show-review-photos="true" data-write-review="true"></div>
  <div class="reputon-google-reviews-widget" data-content-index="2" data-theme="light" data-type="standard" data-show-review-photos="true" data-write-review="true"></div>
</div>
</div>

<style>
  .reputon-reviews-body {
    display: none;
}
  .reputon-powered-google.reputon-reviews-footer {
    display:none;
  }


  .google-store-locator {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 8px;
}
.google-store-locator .reputon-google-reviews-widget {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px 10px 20px;
}
.google-store-locator .fFOwUG {
    padding: 0;
}
.google-store-locator .reputon-standard-container {
    border: none !important;
    border-radius: 0 !important;
}
.google-store-locator .reputon-reviews-head {
    background: transparent;
    gap: 10px;
    padding: 0;
}
.google-store-locator .reputon-info {
    flex-direction: column;
    align-items: start;
}
.google-store-locator .reputon-image img,
.google-store-locator .reputon-link,
.google-store-locator .reputon-image {
    width: 100%;
    height: auto;
}
.google-store-locator .reputon-image img {
    border-radius: 5px;
    height: 163.11px;
    width: 100%;
    object-fit: cover;
}
.google-store-locator .eemqUQ {
    width: 100%;
}
.google-store-locator .reputon-name {
    margin-bottom: 2px;
}
.google-store-locator .reputon-leave-review {
    background: #000;
    color: #fff;
    display: inline-flex;
    max-width: 140px;
    align-items: center;
    justify-content: center;
    text-align: center;
}





  
</style>