<script  type="text/javascript" src="https://cdn.grw.reputon.com/assets/widget.js?shop=5203b3-0b.myshopify.com"  defer></script>
<div class="container">
  <div class="reputon-google-reviews-widget"
                 data-content-index="all"
                 data-theme="light"
                 data-type="masonry"
                 data-show-review-photos="true"
                 data-write-review="true"></div>
</div>
